html {
  box-sizing: border-box;
  scroll-padding-top: 80px;
}

*,*::before,*::after {
  box-sizing: inherit;
}

strong,b {
  font-weight: 700;
}

body {
  margin: 0;
  color: #38414D;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125;
  font-family: Montserrat,Arial,sans-serif;
  background-color: #F5F5F7;
  min-width: 320px;
  overflow-x: hidden;
}

@media print {
  body {
    background-color: #fff;
  }
}

body::backdrop {
  background-color: #F8F8F8;
}
a {
  text-decoration: none;
}

* {
  scrollbar-width: 5px;
  scrollbar-color: #C2C2C2;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: white;
  border: 1px solid #C2C2C2;
  box-sizing: border-box;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
  border-radius: 4px;
}
