.main {
  &::before {
      content: " ";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(/images/gradient_1.svg) top -250px left calc(50% + 320px) no-repeat,url(/images/gradient_2.svg) top 11px left calc(50% + 160px) no-repeat,url(/images/gradient_1.svg) top 400px left calc(50% - 650px) no-repeat,url(/images/gradient_1.svg) top 750px left calc(50% + 600px) no-repeat;
      -webkit-background-size: 430px 430px,200px 200px,350px 350px,350px 350px;
      background-size: 430px 430px,200px 200px,350px 350px,350px 350px;
      -webkit-filter: blur(90px);
      filter: blur(90px);
      z-index: -1;
  }
}
